@model IDGS903_Tema1.Models.PuntosTriangulo

@{
    ViewBag.Title = "Calcular";
}

<h2>Calcular</h2>

<h1>Tipo:  @Html.DisplayFor(model => model.tipo)</h1>
<h1>Area:  @Html.DisplayFor(model => model.area)</h1>
